body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Контейнер для всіх елементів */
.container {
  display: flex;
  padding: 20px;
}

/* Ліва колонка (Графік роботи та Контакти) */
.sidebar {
  width: 25%;
  padding: 15px;
  background-color: #fff;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.working-hours h2, .contact-info h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.working-hours ul {
  list-style: none;
  padding: 0;
}

.working-hours li {
  font-size: 14px;
}

.contact-info p {
  font-size: 14px;
}

/* Блок з товарними елементами */
.product-list {
  width: 70%;
}

.product-item {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.product-item img {
  width: 150px;
  height: auto;
}

.product-details {
  padding-left: 20px;
}

.product-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}

.product-item ul {
  list-style: none;
  padding: 0;
}

.product-item li {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-item p {
  font-size: 14px;
  margin-bottom: 10px;
}
